{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Course Schedule Builder</title>
        <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}" />
    </head>
    <body>
        <div id="header">
            <h1>Course Search</h1>
        </div>
        <div class="frame">
            <form method="post">
                {% csrf_token %}
                <table class="form">
                {{ form.as_p }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="courses">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                    	<td><input type="checkbox" value="Select" /></td>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            <input type="submit" value="Generate Schedule" />
            {% endif %}
        </div>

    </body>
</html>
